
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');


* {
   	margin: 0; 
    padding:0;
   	color: #000000; 
    box-sizing:border-box;
   	
   	
   }

 body {
   	background: #e4ddce;
   	min-height: 100vh;
   	align-items: left;
   	font-family: 'EB Garamond', serif;
   	font-size: 40px;
   }

   .container {
    margin:50px auto;
    max-width:1200px;
   }


   h1 { 
    font-weight:400; 
    letter-spacing:0.1em;
    font-size:1.5em;
    text-align:center;
  }

   h2 { 
    font-weight:400; 
    font-size:1.3em;
    text-align:center;
  }



.boxtest {
    
    font-weight: 200;
    text-decoration: none;
    background: linear-gradient(to right, #e4ddce 50%, #000000 50%, #950);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 6s ease-out;
}

.big {
  font-size:50px;
}
.boxtest.hoveredOn {
    background-position: -100% 
}



